<div class="container goods">
    <!--<div class="row">-->
    <a href="catalog">Return</a>
    <div class="col-md-6 " *ngFor="let item of goods">
        <div *ngIf="item._id == id">

            <h2>{{item.name}}</h2>
            <img src={{item.path}} style="width:180px; height:250px">
            <!--<img src="http://localhost:3002/{{item.path}}" style="width:180px; height:250px">-->


        </div>

    </div>
    <div class="col-md-6 " *ngFor="let item of goods">
        <div *ngIf="item._id == id">
            <div class="good_description">

                <p>Диагональ: {{item.diagonal}}</p>
                <p>Разрешение: {{item.razresheniye}}</p>
                <p>Память: {{item.memory}}</p>
                <p>Камера: {{item.camera}}</p>
                <p>Процессор: {{item.processor}}</p>
                <p>Описание: {{item.description}}</p>
                <p>Цена: {{item.price}}</p>
            </div>




        </div>

    </div>



    <!--</div>-->
</div>
<div class="col-md-12 col-md-offset-6 " *ngFor="let item of goods">
    <div *ngIf="item._id == id">
        <br>
        <button class="btn btn-info " (click)="buyGood(item)">Добавить в корзину</button>
    </div>

</div>

<br>
<br> <br> <br> <br> <br> <br>
<br>
<form id="form" class="form-horizontal" (submit)="addComment($event)">

    <div class="form-group">

        <input type="text" [(ngModel)]="text" name="text" class="col-md-7 col-md-offset-2" style="border: 4px double black; background: aqua; border-radius:10%; padding: 10px;" placeholder="Add Comment">
    </div>
</form>

<div class="comments" style="margin-top:50px;">
    <div *ngFor="let comment of comments">
        <div class="col-md-7 col-md-offset-2" style="border: 4px double black; background: aqua; border-radius:10%; padding: 10px;">
            <h4 style="text-align:center">{{comment.text}}</h4>
        </div>
        <div class="col-md-3 col-sm-12">
            <!--<input type="button" value="Edit" (click)="updateComment(comment)" class="btn btn-danger" style="padding: 20px;">-->
            <input type="button" (click)="deleteComment(comment._id)" value="Delete" class="btn btn-danger" style="padding: 20px;">

        </div>

    </div>
</div>