<div>
    <h2>Hello {{text}}</h2>
</div>

<div class="col-md-12 " *ngFor="let item of users">
    <div *ngIf="item._id == id">

        <h3>Name: {{item.name}}</h3>
        <h3>Surname: {{item.surname}}</h3>
        <h3>Your Email: {{item.email}}</h3>
        <h3>Your Telephone: {{item.telephone}}</h3>
    </div>

</div>
<br>
<div *ngFor="let item of users">
    <div *ngIf="item._id == id">
        <button class="btn btn-info btn-lg-6" data-toggle="collapse" data-target="#demo" (click)="onItemClicked(item)">Update</button>
    </div>
</div>

<div id="demo" class="table table-sm table-inverse collapse text-center">
    <div *ngFor="let item of users">


        <div *ngIf="item._id == id">


            <input type="text" name="name" class="form-control" style="width:50%; margin:0 auto;" [(ngModel)]="clickedItem.name">
            <input type="text" name="surname" class="form-control" style="width:50%; margin:0 auto;" [(ngModel)]="clickedItem.surname">
            <input type="text" name="email" class="form-control" style="width:50%; margin:0 auto;" [(ngModel)]="clickedItem.email">
            <input type="text" name="telephone" class="form-control" style="width:50%; margin:0 auto;" [(ngModel)]="clickedItem.telephone">


        </div>
    </div>
    <button class="btn btn-info" (click)="updateUser()">Update</button>
</div>




<!--<table>
    <div class="col-md-12 " *ngFor="let item of orders">
        <div *ngIf="item.userId == id">
            <tr style="border:2px solid black;margin-top:5px;width:100%">
                <th style="border:2px solid black">Имя:</th>
                <th style="border:2px solid black">{{item.name}}</th>
            </tr>
            <tr style="border:2px solid black;margin-top:5px">
                <th style="border:2px solid black">Ваш заказ:</th>
                <th style="border:2px solid black">{{item.goodName}}</th>
            </tr>
            <tr style="border:2px solid black;margin-top:5px">
                <th style="border:2px solid black">Сумма заказа:</th>
                <th style="border:2px solid black">{{item.totalSum}}</th>
            </tr>
            <tr style="border:2px solid black;margin-top:5px">
                <th style="border:2px solid black">Телефонный номер:</th>
                <th style="border:2px solid black">{{item.telephone}}</th>
            </tr>

        </div>

    </div>
</table>-->

<div>


    <table class="simple-little-table" cellspacing='0' id="excelTable">

        <tr>
            <th>Имя </th>
            <th>Ваш заказ</th>
            <th>Сумма заказа</th>
            <th>Телефонный номер</th>
        </tr>


        <tr *ngFor="let item of orders">

            <td *ngIf="item.userId == id">{{item.name}}</td>
            <td *ngIf="item.userId == id">{{item.goodName}}</td>
            <td *ngIf="item.userId == id">{{item.totalSum}}</td>
            <td *ngIf="item.userId == id">{{item.telephone}}</td>

        </tr>


    </table>
    <button class="btn btn-info" (click)="downloadCsv()">Export to csv format</button>
    <button class="btn btn-info" id="btnExport">Export to xls format</button>
</div>