body{
.completer-input{
    width: 100%;
    height: 40px;
}
.uploader {
    position:relative; 
    overflow:hidden; 
    width:300px; 
    height:350px;
    background:#f3f3f3; 
    border:2px dashed #e8e8e8;
}

#filePhoto{
    position:absolute;
    width:300px;
    height:400px;
    top:-50px;
    left:0;
    z-index:2;
    opacity:0;
    cursor:pointer;
}

.uploader img{
    position:absolute;
    width:302px;
    height:352px;
    top:-1px;
    left:-1px;
    z-index:1;
    border:none;
}


.simple-little-table{
  margin: 0 auto;

}

   .google_map{
        margin-bottom: 50px;
        .sebm-google-map-container {
            height: 250px;
    }
}

.info_about_contacts {
    width: 100%;
    margin:  auto;
    
       td{
        text-align: center;
        padding-bottom: 10px;
       }
       th{
        padding-bottom: 10px;
        text-align: center; 
       }
    }
    .catalog{
        margin-top:75px;
        .item{
            padding-left: 100px;
            //padding-top:75px;
            // margin-top:125px;    
        }
        pagination-controls{
            text-align: center;
        }
    }

    .goods{
         a{
             display: block;
             padding: 15px;
             border-radius: 50px;
             background-color: lightblue;
             float: right; 
         }
            
            img{
                float: left;
            }
        .good_description{
            float: left;
            margin-top:100px;
        }

    }
    .admin_goods{
        border: 1px solid black;
        
    }

   
@media (max-width: 800px) {
  .navbar-inverse .navbar-nav>li>a {
    
    text-align: center;
    font-size: 25px;
}
.navbar-brand {
    /* float: left; */
    height: 50px;
    /* padding: 23px 270px; */
    font-size: 35px;
    line-height: 20px;
    text-align: center; 
    /* vertical-align: middle; */
    position: relative;
    float: left;
    top: 50%;
    //left: 30%;
    
    /* transform: translate(-50%, -50%); */
}
#form{
    text-align: center;
    width: 100%;
}

}
}



