<div class="container">
    <h2>Add a telephone</h2>
    <form class="form-horizontal" id="form" (submit)="addTelephone()" enctype='multipart/form-data' method="POST" action="http://localhost:3002/api/profile">
        <div class="form-group">
            <label class="control-label col-sm-2">Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" [(ngModel)]="name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Diagonal:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="diagonal" placeholder="Enter diagonal" name="diagonal" [(ngModel)]="diagonal">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Razresheniye:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="razresheniye" placeholder="Enter razresheniye" name="razresheniye" [(ngModel)]="razresheniye">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Memory:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="memory" placeholder="Enter memory" name="memory" [(ngModel)]="memory">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Camera:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="camera" placeholder="Enter camera" name="camera" [(ngModel)]="camera">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Processor:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="processor" placeholder="Enter processor" name="processor" [(ngModel)]="processor">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Description:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="description" placeholder="Enter description" name="description" [(ngModel)]="description">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Price:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="price" placeholder="Enter price" name="price" [(ngModel)]="price">
            </div>
        </div>


        <!--<div class="container">


            <ng2-file-input (onChange)="fileChange($event)" [multiple]="false" name="good_picture"></ng2-file-input>


            <hr />
            <div class="row">

                <div class="col-4">
                    Your selected image: <br />
                    <a [href]="selectedImageTrusted" target="_blank" *ngIf="selectedImage">
                        <img [src]="selectedImageTrusted" class="img-thumbnail">
                    </a>
                </div>

                <div class="col-4">
                    Resized exact, filled to fit (img-tools): <br />
                    <a [href]="resizedExactFilledImageTrusted" target="_blank" *ngIf="resizedExactFilledImage && resizedExactFilledImage!=='processing'">
                        <img [src]="resizedExactFilledImageTrusted" class="img-thumbnail">
                    </a>
                    <i *ngIf="resizedExactFilledImage==='processing'" class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                </div>
            </div>
        </div>-->


        <div class="form-group">
            <label class="control-label col-sm-2">Add photo:</label>
            <div class="col-sm-10">

                <div class="uploader" onclick="$('#filePhoto').click()">
                    click here or drag here your images for preview and set good picture data
                    <img src="" [width]="33" />
                    <input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." accept=".jpg,.png" name="good_picture" id="filePhoto" />
                </div>

            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Add a telephone</button>
            </div>

        </div>
    </form>
</div>



















<div id="demo" class="table table-sm table-inverse collapse text-center">
    <input type="text" name="changed_name" class="form-control" style="width:50%; margin:0 auto;" [(ngModel)]="clickedItem.name">
    <input type="hiiden" name="diagonal" class="form-control" style="width:50%; margin:0 auto;" [(ngModel)]="clickedItem.diagonal">
    <input type="hiiden" name="razresheniye" class="form-control" style="width:50%; margin:0 auto;" [(ngModel)]="clickedItem.razresheniye">
    <input type="hiiden" name="memory" class="form-control" style="width:50%; margin:0 auto;" [(ngModel)]="clickedItem.memory">
    <input type="hiiden" name="camera" class="form-control" style="width:50%; margin:0 auto;" [(ngModel)]="clickedItem.camera">
    <input type="hiiden" name="processor" class="form-control" style="width:50%; margin:0 auto;" [(ngModel)]="clickedItem.processor">
    <input type="hiiden" name="description" class="form-control" style="width:50%; margin:0 auto;" [(ngModel)]="clickedItem.description">
    <input type="hiiden" name="path_images" class="form-control" style="width:50%; margin:0 auto;" [(ngModel)]="clickedItem.path">
    <input type="hiiden" name="price" class="form-control" style="width:50%; margin:0 auto;" [(ngModel)]="clickedItem.price">
    <a class="btn btn-info" (click)="updateGood()">Update</a>

</div>



<!--<div id="excelTable">-->


<table class="simple-little-table">

    <tr>
        <th>Товари </th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>


    <tr *ngFor="let item of goods">
        <td>{{item.name}}</td>
        <td><a href="#demo" class="btn btn-info" data-toggle="collapse" (click)="onItemClicked(item)">Edit</a></td>
        <td><input type="button" (click)="deleteGood(item._id)" value="Delete" class="btn btn-danger" style="width:100%"></td>
    </tr>
    <!--<button class="btn btn-info" (click)="downloadCsv()">Export to csv format</button>-->
    <!--<button class="btn btn-info" id="btnExport">Export to xls format</button>-->


</table>

<!--</div>-->



<!--<div id="app">
    <form class="form-inline">
        <div class="form-group">
            <label>Upload a CSV formatted file:</label>
            <input type="file" id="files" class="form-control" accept=".csv" required />
        </div>
        <div class="form-group">
            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>-->






<!--<div class="container">
    <h2>ng2-img-tools / ng2-img-max demo</h2>
    <br /><br />
    <ng2-file-input (onChange)="fileChange($event)" [multiple]="false"></ng2-file-input>
    <br /><br />
    <h6>Click on any image to open it in a new tab (AdBlock may have to be paused)</h6>
    <hr />
    <div class="row">
        <div class="col-4">
            Your selected image: <br />
            <a [href]="selectedImageTrusted" target="_blank" *ngIf="selectedImage">
                <img [src]="selectedImageTrusted" class="img-thumbnail">
            </a>
        </div>
        <div class="col-4">
            Resized (img-tools & img-max): <br />
            <a [href]="resizedImageTrusted" target="_blank" *ngIf="resizedImage && resizedImage!=='processing'">
                <img [src]="resizedImageTrusted" class="img-thumbnail">
            </a>
            <i *ngIf="resizedImage==='processing'" class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </div>
        <div class="col-4">
            Compressed (img-tools & img-max): <br />
            <a [href]="compressedImageTrusted" target="_blank" *ngIf="compressedImage && compressedImage!=='processing'">
                <img [src]="compressedImageTrusted" class="img-thumbnail">
            </a>
            <i *ngIf="compressedImage==='processing'" class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-4">
            Cropped (img-tools): <br />
            <a [href]="croppedImageTrusted" target="_blank" *ngIf="croppedImage && croppedImage!=='processing'">
                <img [src]="croppedImageTrusted" class="img-thumbnail">
            </a>
            <i *ngIf="croppedImage==='processing'" class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </div>
        <div class="col-4">
            Resized exact, cropped to fit (img-tools): <br />
            <a [href]="resizedExactCroppedImageTrusted" target="_blank" *ngIf="resizedExactCroppedImage && resizedExactCroppedImage!=='processing'">
                <img [src]="resizedExactCroppedImageTrusted" class="img-thumbnail">
            </a>
            <i *ngIf="resizedExactCroppedImage==='processing'" class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </div>
        <div class="col-4">
            Resized exact, filled to fit (img-tools): <br />
            <a [href]="resizedExactFilledImageTrusted" target="_blank" *ngIf="resizedExactFilledImage && resizedExactFilledImage!=='processing'">
                <img [src]="resizedExactFilledImageTrusted" class="img-thumbnail">
            </a>
            <i *ngIf="resizedExactFilledImage==='processing'" class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </div>
    </div>
</div>-->