<div>
    <h2>List of Contacts</h2>
    <a href="#demo" class="btn btn-info" data-toggle="collapse">List of Contacts</a>
    <div id="demo" class="table table-sm table-inverse collapse">
        <table class="info_about_contacts">
            <thead>
                <tr>
                    <th>
                        <h3>Firstname</h3>
                    </th>
                    <th>
                        <h3>Lastname</h3>
                    </th>
                    <th>
                        <h3>Telephone numbers</h3>
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let item of contacts">
                    <td>{{item.name}}</td>
                    <td>{{item.last_name}}</td>
                    <td>{{item.telephone_number}}</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<div class="google_map">
    <sebm-google-map [latitude]="lat" [longitude]="lng">
        <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
    </sebm-google-map>
</div>


<h2>Form</h2>
<form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
    <div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" minlength="3" maxlength="10" id="username" ngModel name="username" required>

        </div>
        <div class="form-group">
            <label for="email">E-Mail</label>
            <input type="text" class="form-control" id="email" required ngModel name="email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">

        </div>
    </div>
    <div class="form-group">
        <label for="telephone">Telephone Number</label>
        <input type="text" class="form-control" id="telephone" required ngModel placeholder="(050) 121-34-57" title="Формат ввода (050) 121-34-57" name="telephone" pattern="\([0-9]{3}\)\s[0-9]{3}-[0-9]{2}-[0-9]{2}">
        <!--<input type="text" class="form-control" id="telephone" required ngModel name="telephone" class="masked" pattern="^\+38(\s+)?\(?(063|093|096|097|073|050|095)\)?(\s+)?[0-9]{3}-?[0-9]{2}-?[0-9]{2}$">-->

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>