<div style="text-align:center;margin:0 auto; width:70%;">


    <h3>Search phone</h3>

    <ng2-completer [(ngModel)]="searchStr" [datasource]="dataService" [minSearchLength]="0" style="text-align:center;"></ng2-completer>
    <!--<button (click)="search()" style="float:right">Search</button>-->
    <button type="button" class="btn btn-info" (click)="search()" style="float:right">
      <span class="glyphicon glyphicon-search"></span> Search
    </button>
    <!--<div [(ngModel)]="singleGood"></div>-->

</div>


<div class="container catalog">
    <!--<div class="row">-->

    <div class="col-md-6 item" *ngFor="let item of goods| paginate: { itemsPerPage: 2, currentPage: p }">
        <img src={{item.path}} style="width:180px; height:250px;">
        <!--<img src="http://localhost:3002/{{item.path}}" style="width:180px; height:250px;">-->
        <h2>{{item.name}}</h2>
        <p class="description">{{item.description}}</p>
        <p class="price">Цена: {{item.price}}</p>
        <p><a id="pagination" class="btn btn-default" [routerLink]="['/goods', item._id]" role="button">View details »</a></p>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    <!--</div>-->



</div>
<hr>


<!--{{continent.value}}
<div>
    <div class="col-sm-5">
        <input ngui-auto-complete [formControl]="continent" [source]="continents" [list-formatter]="autocompleListFormatter" value-property-name="id" display-property-name="name" placeholder="Contients" class="form-control">
    </div><br/>
    <button type="submit">Submit</button>
</div>-->